@font-face {
    font-family: metaplus;
    src: url(metaplus-bold.ttf);
}

@font-face {
    font-family: DINBold;
    src: url(DINBold.ttf);
}

body{
    margin: 0;
    font-family: metaplus;
    background-color: white;
    color: #1559a0;
}

.container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    align-content: space-around;
}
.container.consigne{
    opacity: 0;
}

.langues{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    align-content: space-around;
    opacity: 1;
}

.container.youpi{
    opacity: 0;
}

.container.overlay{
    background-color: black;
    opacity: 0;
    z-index: 100;
}

.container.chrono{
//    background-color: transparent;
    opacity: 1;
}

.chrono-container{
    background-color: transparent;
    color: #1559a0;
}

.chrono-content{
    font-family: DINBold;
    font-size: 150pt;
    background-color: transparent;
    font-variant-numeric: tabular-nums;
    margin-bottom: 20px;
}

.container.container-text{
    font-size: 50pt;
    height: 45vh;
    background-color: transparent;
}

.container.replay{
    background-color: transparent;
}

.text-content{
    opacity: 0;
}

.flag{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 10px white;
    box-shadow: 0 0 0 2px lightgray;
}

.flag-FR{
    background-image: url(/static/images/FR.png);
}
.flag-EN{
    background-image: url(/static/images/EN.png);
}
.flag-NL{
    background-image: url(/static/images/NL.png);
}
.FR{
    font-size: 57pt;
    color: #1559a0
}

.EN{
    font-size: 57pt;
    color: #5ea7c7;
}

.NL{
    font-size: 57pt;
    color: #d37541;
}

#youpi{
    background-image:url(/static/images/YoupiMatin-GLC.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 1700px;
}
