<!doctype html>

<html>
    <head>
	      <meta charset="utf-8">

	      <title>A new flask app</title>
	      <meta name="description" content="">
	      <meta name="author" content="Laurent Malys">

	      <link rel="stylesheet" href="static/css/styles.css">
	      <link rel="stylesheet" href="static/css/path.css">
	      <link rel="stylesheet" href="static/css/flipclock.css">

	      <script src="static/lib/socket.io.slim.js"></script>
	      <script src="static/lib/jquery-3.5.1.min.js"></script>

	      <script src="static/js/path.js"></script>
	      <script src="static/js/flipclock.js"></script>
	      <script src="static/js/app.js"></script>

    </head>

    <body>
        <div id="cur-dist">
            {{ dist }}
        </div>

        <div id="youpi" class="hidden">
        </div>

        <div class="container" id="container-ring">
            <canvas id="ring-canvas" width="1920" height="1080">
            </canvas>
        </div>

        <div class="container container-flipclock">
            <div class="flipclock"> </div>
        </div>

        <div class="container container-text">
        </div>

        <div class="admin container-admin">
            <div class="input-container">
                <div class="debug-label"> Distance</div>
                <input type="text" value="0" class="debug-btn" id="admin-dist"/>
                <input type="button" value="maj distance" class="debug-btn" id="admin-dist-btn"/>
            </div>
            <input type="button" value="Fermer" class="debug-btn" id="close-admin"/>
        </div>


        <div class="admin container-debug">
            <div class="input-container"> Run <input type="checkbox" value="0" id="debug-run"></div>
            <div class="input-container">
                <div class="debug-label"> Vitesse (<span id="speed-val">3</span> m/s)</div>
                <div>
                    <input type="range" min="0.0" max="5.0" value="3.0" id="debug-speed"/>
                </div>
            </div>
            <div class="input-container">
                <div class="debug-label"> Distance (<span id="dist-val">0</span> m)</div>
                <input type="text" value="0" class="debug-btn" id="debug-dist"/>
                <input type="button" value="maj distance" class="debug-btn" id="debug-dist-btn"/>
            </div>
            <div class="input-container">
                <div class="debug-label"> Aller à :</div>
                <input type="button" value="Debut" class="debug-btn" id="debug-debut"/>
                <input type="button" value="Berlin" class="debug-btn" id="debug-berlin"/>
                <input type="button" value="Kiev" class="debug-btn" id="debug-kiev"/>
                <input type="button" value="Seattle" class="debug-btn" id="debug-seattle"/>
                <input type="button" value="Montréal" class="debug-btn" id="debug-montreal"/>
                <input type="button" value="Fin" class="debug-btn" id="debug-fin"/>
            </div>
        </div>
    </body>
</html>
