body{
    margin: 0;
    width: 1920px;
    height: 1080px;
}

#container-ring{
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.label-container{
    position: absolute;
    margin-left: -300px;
    margin-top: -25px;
    width: 600px;
    height: 50px;
    /* background-color: gray; */
    /* border: solid 1px gray; */
    transform: rotate(45deg);
}

.label{
    position: relative;
    float: right;
    width: 270px;
    height:100%;
    text-align: left;
    font-size: 25pt;
    line-height: 38pt;
}

.label.inverse{
    float: left;
    text-align: right;
}

.label.inverse div{
    float: left;
    text-align: right;
    right: 0;
}

/* DEPRECATED */
.dot{
    position: absolute;
    width: 20px;
    height: 20px;
    /* background-color: gray; */
    border-radius: 10px;
    border: solid 1px gray;
}
