@font-face {
    font-family: metaplus;
    src: url(metaplus-bold.ttf);
}

@font-face {
    font-family: DINBold;
    src: url(DINBold.ttf);
}

body{
    margin: 0;
    width: 1920px;
    height: 1080px;
    font-family: metaplus;
    background-color: white;
    color: #1559a0;
}

.distance{
    padding: 1em;
    height: 50px;
} 

#debug{
    right: 20px;
    display: none;
}

svg#debug{
    background-color: lightgray;
    width: 800px;
    height: 600px;

}

#cur-dist{
    display: none;
}

.admin.container-admin{
    opacity: 0;
    font-size: 20pt;
    background-color: rgba(200, 200, 200, 0.9);
}
.admin.container-admin.visible{
    opacity: 1;
}

.admin.container-debug{
    top: 200px;
    display:none;
}

.admin{
    font-family: Arial; 
    position:fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: lightgray;
    opacity: 0.7;
    color: black;
}

.admin .input-container{
    margin: 10px;
   /* min-height: 50px; */
    display: block;
    vertical-align: middle;
}
/* .admin input{ */
/*     display: block; */
/* } */

.debug-btn{
    padding: 10px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 1920px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    align-content: space-around;
}

.container-text{
    transition: all 2s ease-in-out;
    height: 60vh;
    top: 10vh;
    opacity: 1;
}

.container-text.hidden{
    transform: translateY(-400px);
    opacity: 0;
}

.container-flipclock{
    font-family: DINBold;
}

/* .container-flipclock{ */
/*     transition: all 2s ease-in-out; */
/* } */

/* .container-flipclock.low{ */
/*     top: 200px; */
/* } */

.flipclock {
    transition: all 2s ease-in-out;
}

.flipclock.small{
    /* margin-top: 30px; */
    transform: translateY(190px) scale(0.75);
}

.flipclock.big{
    transform: translateY(-190px) scale(1.5);
}

.text-item{
    max-width: 62vw;
    text-align: center;
    line-height: 1.2;
    color: gray;
    position: absolute;
    font-size: 49pt;
}

.text-item p{
    margin: 20px 0;
}
.fr{
    position: absolute;
    color: #1559a0;
}

.en{
    position: absolute;
    color: #5ea7c7;
}

.nl{
    position: absolute;
    color: #d37541;
}

#container-ring{
    transition: all 2s ease-in-out;
    opacity: 0; 
}
#container-ring.visible{
    opacity: 1; 
}
.place .text-item{
    font-size: 54pt;
    max-width: 76vw;
}

.label.place{
    font-size: 35pt;
    transition: all 2s ease-in-out;
}
.label-container.place{
    transition: all 2s ease-in-out;
}

.label-container{
    transition: all 0.5s ease-in-out;
    opacity: 1;    
}

.label-anim-container{
    transition: all 2s ease-in-out;
    position:absolute;
    width: 700px;
    height:200px;
    margin-top: -100px;
    opacity: 0;
}

.visible{
    opacity: 1;
}
.hidden{
    opacity: 0;
}

.label-anim-container .label{
    width: 100%;
    margin:auto; 
    float: none;
    text-align: center;
}

.label-anim-container .label div{
    width: 100%;
    font-size: 50pt;
}
.label-container.hidden{
    opacity: 0;    
}

.container-test{
    background-image:url(/static/images/depart.png);
}

#youpi{
    transition: all 2s ease-in-out;
    position: fixed;
    background-image:url(/static/images/YoupiMatin-PLR.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 620px;
    left: 900px;
    height: 350px;
    width: 700px;
}
