@font-face {
    font-family: metaplus;
    src: url(metaplus-bold.ttf);
}

@font-face {
    font-family: DINBold;
    src: url(DINBold.ttf);
}

@font-face {
    font-family: DINMedium;
    src: url(DINMedium.ttf);
}

body{
    margin: 0;
    font-family: DINMedium;
    background-color: white;
    color: #1559a0
}

.admin{
    opacity: 0;
    position:fixed;
    top: 20px;
    left: 20px;
    background-color: lightgray;
}

.admin .btn-admin{
    display: inline-block;
    text-align: center;
    min-width: 30px;
    margin: 10px;
    padding: 10px;
    background-color: white; 
}

.container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    align-content: space-around;
}

.container.question{
    opacity: 0;
    /* background-size: cover; */
    background-position: center;
}

#clock-question{
    position: absolute;
}
.container.clock-question{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 170px;
    height: 170px;
}
.clock-question-content{
    font-size: 70pt;
    font-variant-numeric: tabular-nums;
    margin-bottom: 10px;
}
.container.langues{
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    align-content: space-around;
    opacity: 1;
}

.container.overlay,
.container.button{
    flex-direction: row;
    justify-content: bottom;
    align-items: bottom;
    align-content: bottom;
    opacity: 1;
}

.container.overlay{
    background-color: transparent;
    opacity: 1;
    background-size: cover;
    background-position: center;
}

.container.chrono{
    background-color: transparent;
    opacity: 1;
}

.chrono-content{
    font-size: 140pt;
    font-variant-numeric: tabular-nums;
    margin-bottom: 20px;
}

.container.container-text{
    font-size: 50pt;
    height: 40vh;
    background-color: transparent;
}

.text-content{
    opacity: 1;
    font-size: 50pt;
}

.flag{
    width: 300px;
    height: 180px;
    margin: 50px;
    background-size: cover;
    background-position: center;
}

.flag-fr{
    background-image: url(/static/images/fr.png);
}
.flag-en{
    background-image: url(/static/images/en.png);
}
.flag-nl{
    background-image: url(/static/images/nl.png);
}

.fr{
    color: #1559a0
}

.en{
    color: #5ea7c7;
}

.nl{
    color: #d37541;
}

.cln{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 330px;
    align-items: center;
    justify-content: flex-end;
}


.btn{
    width: 140px;
    height:140px;
    margin-top:30px;
    margin-bottom: 330px;
    /* margin: 95px; */
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.btn-rep{
    width: 140px;
    height:140px;
    background-position: center;
    background-size: cover;
    /* background-color: red; */
    /* opacity: 0.5; */
    position: absolute;
}
.overlay .btn{
    border-radius: 0;
}
.elem{
    font-size: 38pt;

}
.cln-red{
    color: #d17278;
}

.cln-yellow{
    color: #e8c37f;
}

.cln-blue{
    color: #7181a2;
}
.btn-red{
    background-color: #d17278;
}

.btn-yellow{
    background-color: #e8c37f;
}

.btn-blue{
    background-color: #7181a2;
}

.container-score .text-content{
    font-size: 100pt; 
    padding-bottom: 55px;
    display: inline-block;
    /* width: 650px; */
    height: 150px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.container-score .score{
    font-family: DINBold;
    width: 400px;
    padding-left: 250px;
    background-image: url(/static/images/ok.png);
}
.container-score .score-boxe{
    font-family: DINBold;
    width: 400px;
    padding-left: 250px;
    background-image: url(/static/images/picto_boxe.png);
}

#youpi{
    position: fixed;
    background-image:url(/static/images/YoupiMatin-FLGE.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 620px;
    left: 650px;
    height: 450px;
    width: 1200px;
    opacity: 0;
}
